{% extends 'base.html.twig' %}

{% block title %}Modificar Inmueble{% endblock %}

{% block body %}
<div class="container py-1 pt-3">
    <h1>Modificar Inmueble</h1>

    {{ include('inmueble/_form.html.twig', {'button_label': 'Modificar'}) }}

    <div class="mt-4">
    <a class="btn btn-outline-dark" href="{{ path('app_inmueble_index') }}">Volver al Listado</a>
    {{ include('inmueble/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
