{% extends 'base.html.twig' %}

{% block title %}Nuevo Inmueble{% endblock %}

{% block body %}
<div class="container py-1 pt-3">
    <h1>Nuevo Inmueble</h1>

    {{ include('inmueble/_form.html.twig') }}

    <div class="mt-4">
    <a class="btn btn-outline-dark" href="{{ path('app_inmueble_index') }}">Volver al Listado</a>
    </div>
</div>
{% endblock %}
