<form class="d-inline-block mx-4" method="post" action="{{ path('app_averia_delete', {'id': averium.id}) }}" onsubmit="return confirm('¿Confirma que desea eliminar la Avería?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ averium.id) }}">
    <button class="btn btn-outline-danger py-1">Eliminar Avería</button>
</form>
