{% extends 'base.html.twig' %}

{% block title %}Edit Averia{% endblock %}

{% block body %}
    <h1>Edit Averia</h1>

    {{ include('averia/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_averia_index') }}">back to list</a>

    {{ include('averia/_delete_form.html.twig') }}
{% endblock %}
