{% extends 'base.html.twig' %}

{% block title %}Nueva Avería{% endblock %}

{% block body %}
<div class="container py-1 pt-3">
    <h1>Nueva Avería</h1>

    {{ include('averia/_form.html.twig') }}

    <div class="mt-4">
    <a class="btn btn-outline-dark" href="{{ path('app_averia_index') }}">Volver al Listado</a>
    </div>
</div>
{% endblock %}
