<form class="d-inline-block mx-4" method="post" action="{{ path('app_aseguradora_delete', {'id': aseguradora.id}) }}" onsubmit="return confirm('¿Confirma que desea eliminar la Aseguradora?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aseguradora.id) }}">
    <button class="btn btn-outline-danger py-1">Eliminar Aseguradora</button>
</form>
