{% extends 'base.html.twig' %}

{% block title %}Edit Aseguradora{% endblock %}

{% block body %}
    <h1>Edit Aseguradora</h1>

    {{ include('aseguradora/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_aseguradora_index') }}">back to list</a>

    {{ include('aseguradora/_delete_form.html.twig') }}
{% endblock %}
