<form class="d-inline-block mx-4" method="post" action="{{ path('app_asegurado_delete', {'id': asegurado.id}) }}" onsubmit="return confirm('¿Confirma que desea eliminar el Asegurado?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ asegurado.id) }}">
    <button class="btn btn-outline-danger py-1">Eliminar Asegurado</button>
</form>
