<form class="d-inline-block mx-4" method="post" action="{{ path('app_poliza_delete', {'id': poliza.id}) }}" onsubmit="return confirm('¿Confirma que desea eliminar la Póliza?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ poliza.id) }}">
    <button class="btn btn-outline-danger py-1">Eliminar Póliza</button>
</form>
