{% extends 'base.html.twig' %}

{% block title %}Nueva Póliza{% endblock %}

{% block body %}
<div class="container py-1 pt-3">
    <h1>Nueva Póliza</h1>

    {{ include('poliza/_form.html.twig') }}

    <div class="mt-4">
    <a class="btn btn-outline-dark" href="{{ path('app_poliza_index') }}">Volver al Listado</a>
    </div>
</div>
{% endblock %}
